# Interface pública do pacote myfuns 0.5.0
importFrom(rlang,.data)
export(ExportTimes)
export(anovaCV)
export(anova_agri)
export(auditar_delineamento)
export(cld_lista)
export(comparar_emmeans)
export(comparar_modelos)
export(contrast_lista)
export(contraste_poly)
export(diagnostico_contagem)
export(diagnostico_modelo)
export(emmeans_lista)
export(equar2)
export(export_figuras)
export(pca_agri)
export(plot_emmeans)
export(plot_pca_agri)
export(plot_reg)
export(ponto_critico)
export(read_clipboard_table)
export(read_excel)
export(reg_poly)
export(resumo_agri)
export(resumo_bayes)
export(resumo_misto)
export(theme_nogrid)
export(theme_nogridacp)
export(theme_transparent)
export(trans)
export(write_clipboard_table)
export(write_excel)
S3method(as.data.frame,myfuns_contraste_poly)
S3method(print,myfuns_anova)
S3method(print,myfuns_comparacao_modelos)
S3method(print,myfuns_contraste_poly)
S3method(print,myfuns_delineamento)
S3method(print,myfuns_emmeans)
S3method(print,myfuns_pca)
S3method(print,myfuns_reg_poly)
S3method(print,myfuns_resumo_misto)
